/*Hero*/
.hero {
  height: 400px;
  max-width: 480px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-mob-1x.jpg);
  background-color: #c4c4c4;

  @include retina {
    height: 400px;
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mob-2x.jpg);
  }

  @include tablet {
    height: 400px;
    max-width: 768px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-tab-1x.jpg);

    @include retina {
      height: 400px;
      max-width: 768px;
      padding-top: 118px;
      padding-bottom: 118px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tab-2x.jpg);
    }
  }
  @include desktop {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-desk-1x.jpg);

    @include retina {
      height: 600px;
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desk-2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  color: $text-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  @media screen and (min-width: 768px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
