/*Our team*/

.team {
  background-color: $background-color;
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.teamtext-overlay {
  background-color: $background-color;
}

.team__card {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.team__item {
  background-color: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.team__social {
  padding: 30px 0;
}

.team__pretitle {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__post {
  margin-top: 10px;
  margin-bottom: 16px;
  color: $secondary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: $primary-background-color;
  border-radius: 50%;
  /* Задаємо значення переходу */
  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:hover svg,
  &:focus svg {
    fill: $primary-background-color;
  }
}

.team__icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  transition: fill 250ms $timing-function;
}
