/*work*/
.box {
    padding-top: 0;
}
.box__title {
    margin-bottom: 50px;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.box__card {
    display: flex;
    justify-content: space-between;
}
.box__thumb {
    position: relative;
}

.box__text {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    bottom: 0;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $text-color;
    font-size: 14px;
    background: rgba(47, 48, 58, 0.8);
    }