/*email-footer*/
.email { 
  width: 100%;
  @media screen and (min-width: 768px){
      width: 450px;
    }
  
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: auto;
    
  }
}

.email__title {
  color: $primary-background-color;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    text-align: center;
    font-size: 16px;
  }
}

.email__line {
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    position: relative;
  }
}

.email__input {
  width: 100%;
    margin-right: 12px;  
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $text-color;
  background-color: $secondary-background-color;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
 }

.email__button {
  display: flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: $text-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
}

.email__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $text-color;
}
