/*Auth-nav*/
.auth-nav {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    margin-left: 92px;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px 0;
    align-items: center;
    margin-left: 290px;
  }
}
.auth-nav__item {
  &--m {
    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 1.16;
      order: 2;
    }
  }
  &--t {
    @media screen and (max-width: 767px) {
      font-size: 34px;
      line-height: 1.17;
      order: 1;
    }
  }
}

.auth-nav__link {
  display: flex;
  align-items: center;
  height: auto;
  color: $secondary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms $timing-function;
  @media screen and (max-width: 767px) {
    padding: 16px 0px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 5px 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    &:hover svg,
    &:focus svg {
      fill: $accent-color;
    }
  }
}

.auth-nav__icon {
  height: 20px;
  width: 18px;
  margin-right: 10px;
  width: 18px;
  height: 20px;
  padding: 0;
  fill: $secondary-text-color;
  transition: fill 250ms $timing-function;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-left: 0;
  }
}
