/*logo*/
.logo {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  padding: 16px 0px;
  
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.studio {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  &--white {
    color: $primary-background-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}
