/* Site-nav*/
.site-nav {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    height: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 88px;
    margin-right: 74px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 92px;
    margin-right: 312px;
  }
}
.site-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}

.site-nav__link {
  display: block;
  padding: 32px 0px;
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms $timing-function;
  &--current {
    position: relative;
    color: $accent-color;
    &::after {
      display: block;
      position: absolute;
      bottom: -1px;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 16px 0px;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  &:hover,
  & :focus {
    color: $accent-color;
  }
}
