/*checkbox*/
.form__link {
    color: $accent-color;
    text-decoration-line: underline;
    margin-left: 5px;
}

.form__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
& label {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.7;
        color: $secondary-text-color;
    }
        & input:checked+label .form__gal {
            background: $accent-color;
            border: none;
            justify-content: center;
        }
}

.form__gal {
    display: flex;
    width: 16px;
    height: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    border: 2px solid $primary-text-color;
    border-radius: 3px;
}

.form__ico {
    transition: fill 250ms $timing-function;
}

.form__hidden {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}