/*Form*/
/*page-form*/
.form {
    height: 100%;
    width: 100%;
    padding: 40px;
}

.form__title {
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &--margin {
            margin-bottom: 20px;
        }
    
        & textarea {
            width: 100%;
            height: 120px;
            padding: 12px 16px;
            resize: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            &::placeholder {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1.17;
                    color: rgba(117, 117, 117, 0.5);
                }
        }
}
.form__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $secondary-text-color;
}