/*Buttons*/
/*.button {
  min-width: 216px;
  padding: 10px 32px;
  color: $primary-background-color;
  background-color: $accent-color;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  &:active {
      background-color: $button-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}*/
%button {
  display: flex;
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $text-color; 
    background-color: $accent-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color 250ms $timing-function,
        background-color 250ms $timing-function,
        }
.hero__button {
  @extend %button;
  padding: 10px 32px;  
  &:active {
      background-color: $button-color;             
        }              
}
.form__button {
  @extend %button;
  padding: 10px 52px;
  &:active {
      background-color: $button-color;
}
}
.email__button {
  @extend %button;
  padding: 10px 28px;
}
.filter__button {
  @extend %button;
  min-width: 73px;
  padding: 6px 22px;
  line-height: 1.62;
  color: $primary-text-color;
  background-color: $primary-button-color;
  box-shadow:none;
  transition: color 250ms $timing-function,
  background-color 250ms $timing-function, 
  box-shadow 250ms $timing-function;  
  &:hover {
    color: $primary-background-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);} 
}








