html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

body {
    color: $primary-text-color;
    background-color: $primary-background-color;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/*Відмінюємо підкреслення для тегів*/
a,
adress {
    text-decoration: none;
}

button {
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: auto;
}