$text-color: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-button-color: #f5f4fa;
$background-color: #f5f4fa;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$border-color: #eeeeee;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$button-color: #188ce8;